
.background-loaded {
    background-image: url('./assets/fondo4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-loaded-home {
    background-image: url('./assets/fondo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }
  
  .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    width: 0; /* Ensure the width is 0 initially */
    animation: 
      typing 3.5s steps(40, end) forwards, /* Ensure the animation completes */
      blink-caret .75s step-end infinite;
  }
  
  .typewriter p {
    overflow: hidden;
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    width: 0; /* Ensure the width is 0 initially */
    animation: 
      typing 5s steps(50, end) 3.5s forwards, /* Delay for text to appear after the header */
      blink-caret .75s step-end infinite;
  }